.login {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
}

.login__buttons {
    display         : flex;
    justify-content : center;
    gap             : 1rem;
}